[Unit]
Description=109 scheduler
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/109-sys
ExecStart=/home/ubuntu/109-sys/.venv/bin/python /home/ubuntu/109-sys/scheduler.py
Restart=always
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
